body.layout-1col #sidebar .mysidewrapper {
  float: left;
  padding: 20px 0;
  margin: 0 10px;
  width: 260px;
}

.mysidewrapper:first-child {
  padding-top: 0;
}

.mysidewrapper {
  border-bottom: 1px solid #fcfcfc;
  font-size: 12px;
  overflow: hidden;
  padding: 20px 0;
  height: 200px;
  position: relative;
}

.mysidewrapper:after {
  border-bottom: 1px solid #d8d8d8;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.mysidewrapper .sidetitle {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.7em;
}

.mysidewrapper .sidetitle a {
  color: #333;
}

.mysidewrapper .side .sidebody {
  line-height: 1.5;
  margin: 0 0 7px 0;
}
